.box {
    margin-top: 50px;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
background: rgba(167, 167, 167, 0.94);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(167, 167, 167, 1);
    width: 500px;
    height: fit-content;
}

.createinvbutton{
    margin-top: 20px;
    margin-bottom: 20px;
}

.shiit {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .box input{ 
    padding: 5px;
     font-size: 16px;
     border-width: 1px;
     border-color: #000000;
     background-color: #ffffff;
     color:  black;
     border-style: solid;
     border-radius: 5px;
     box-shadow: 0px 0px 5px rgba(66,66,66,.75);
     /* text-shadow: 0px 0px 5px rgba(66,66,66,.75); */
}