
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* fontos */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Logo, .Logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackGround {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.grey-back{
    background-color: rgba(80, 80, 80, 1);
    width: 100%;
    height: 50px;
}

.welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  width: 100%;
}

.welcome h1 {
  align-items: center;
}

.ads{
  width: 50%;
  border-radius: 10px;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-self: center;
  justify-self: center;
  width: 100%;
}

.Invoice {
  margin-left: 20px;
}

.white-line {
  width: 1470px;
  height: 2px;
  background-color: white;
  margin-top: 5px 0;
  margin-left: 20px;
}

.Invoices {
  margin-top: 20px;
  margin-left: 28px;
  width: 1450px;
  height: fit-content;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
}