
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* fontos */
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;
}



.Logo, .Logout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackGround {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.grey-back{
    background-color: rgba(80, 80, 80, 1);
    width: 100%;
    height: 48px;
}

.Welcome{
    display: flex;
    /* margin-top: 30px; */

}

.white-line {
  width: 100vh;
  height: 2px;
  background-color: white;
  margin: 20px 0;
}

.Invoice {
  margin-left: 20px;
}

.Invoices{
  margin-left: 20px;
  margin-top: 30px;
  height: fit-content;
  width: 700px;
}

.Invoices ul {
  display: flex;
  flex-flow: column;
}